@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');

$font-family: "DM Sans" !default;

$white: #ffffff !default;
$background: #ffffff !default;
$light-gray: #E3E8E9 !default;
$light-blue: #ccd4df!default;
$main-blue: #81A3BF!default;
$dark-gray: #818E9A!default;
$cyan-blue: #1A667A!default;
$dark-blue:#112145 !default;

$border-radius-small: 5px !default;

$text-uppercase: uppercase !default;

$font-12: 12px !default;
$font-14: 14px !default;
$font-16: 16px !default;
$font-18: 18px !default;
$font-20: 20px !default;
$font-22: 22px !default;
$font-24: 24px !default;
$font-26: 26px !default;
$font-28: 28px !default;
$font-32: 32px !default;
$font-36: 36px !default;

$font-weight-300: 300 !default;
$font-weight-400: 400 !default;
$font-weight-700: 700 !default;
